<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Podcasts.space</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="twitter:card" value="summary">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{request.base_url}}">

    {% block meta %}{% endblock %}

    {% if current_user.is_authenticated() %}
        <meta name="user_id" content="{{current_user.id}}">
        <meta name="username" content="{{current_user.username}}">
    {% endif %}

    <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
</head>
<body>
    <div id="body-wrapper" class="body-wrapper">
        
        <div class="header navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        Your brand
                        <span class="label label-info">beta</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <div class="container">
                &copy; 2015.
            </div>
        </div>
    </div>

    <!-- build:js /scripts/main.js -->
        <script data-main="/scripts/main" src="/bower_components/requirejs/require.js"></script>
    <!-- endbuild -->

    {% if request.url_root != "http://dev.url" %}
        <!-- Embed Google analytics -->
    {% endif %}
</body>
</html>
